Group: {{ group_name }}
-----------------------------------------

### Project description

{{ description }}

### Organisation

Team members:

{% for m in members -%}
* {{ m.name }} {{ m.gitlab_handle }}
{% endfor %}

### Gitlab

Project path: {{ project_path }}
